
.header {
    font-size: 18px;
    font-weight: 400;
    padding: 92px 50px 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__menu {
    flex: 0 0 auto;
    width: 33.3%;
  }
  
  .header__link {
    text-underline-position: under;
  }
  
  .header__links-list {
    display: flex;
    gap: 32px;
  }
  
  .header__links-list-item {
    border-bottom: #000;
    list-style: circle;
  }
  
  .header__links-list-item_no-bullit {
    list-style: none;
  }
  
  .header__link_active {
    text-decoration: none;
  }
  
  .header__logo {
    flex: 0 0 auto;
    width: 148px;
    height: 105px;
  }
  
  .header__logo-image {
    width: inherit;
    height: inherit;
  }
  
  .header__address {
    padding-left: 15.5%;
  }
  
  
  
  .address {
    flex: 0 0 auto;
    width: 33.3%;
    line-height: 135%;
    font-style: normal;
    text-underline-position: under;
  }
  
 
  
  .cover {
    background: url("../images/cover.jpg") center/cover;
    color: #fff;
  }
  
  .cover__title {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cover__description {
    margin-top: 120px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 127.273%;
    text-align: end;
    word-spacing: 17.5px;
    text-transform: uppercase;
    margin-right: 6%;
  }
  

  
  .overlay {
    height: inherit;
    padding: 165px 50px 50px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
 
  
  .aligned-text_left {
    text-align: left;
  }
  
  .aligned-text_center {
    width: 100%;
    max-width: 1310px;
    text-align: center;
  }
  
  .aligned-text_right {
    text-align: right;
  }
  

  
  .letter-spacing-extended {
    letter-spacing: 0.6em;
  }
  

  
  .no-letter-spacing {
    letter-spacing: 0;
  }
  

  
  .bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 12px 32px;
  }
  

  
  .lots {
    padding: 180px 50px;
  }
  
  .lots__heading {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 27px 40px;
    text-transform: uppercase;
  }
  
  .lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
  }
  
  .lots__card-list-item {
    flex: 1 0 0%;
    min-height: 450px;
    min-width: 430px;
  }
  
  .lots__card-list-item:first-child {
    width: 33.3%;
  }
  
  .lots__card-list-item:last-child {
    width: 33.3%;
  }
  
  .lots__look-more-link {
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #000;
  }
  
 
  
  .card {
    height: inherit;
    color: #fff;
  }
  
  .card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover;
  }
  
  .card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover;
  }
  
  .card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover;
  }
  
  .card-link {
    height: 100%;
    text-decoration: none;
  }
  
  .card .overlay {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  .card__text {
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
  }
  
 
  
  .about {
    display: flex;
    gap: 25px;
    padding: 0 50px 182px 50px;
  }
  
  .about__column:last-child {
    margin-top: 103px;
  }
  
  .about__logo {
    background-color: #000;
    border-radius: 50%;
    margin: 0 95px;
    padding: 63px 46px;
  }
  
  .about__logo-image {
    width: 148px;
  }
  
  .about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
  }
  
  .about__text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
  }
  
 
  
  .footer {
    font-size: 18px;
    font-weight: 400;
    padding: 0 50px 90px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__address {
    padding-right: 15.5%;
  }
  
  .footer__menu {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  .footer__menu-list {
    list-style: none;
    text-align: center;
  }
  
  .footer__menu-link {
    text-underline-position: under;
  }
  
  .footer__menu-link_active {
    text-decoration: none;
  }
  
  .footer__social-list {
    flex: 0 0 auto;
    width: 33.3%;
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
  }
  
  .footer__social-icon {
    width: 48px;
    height: 48px;
  }
