.page {
  margin: 0 auto;
  font-size: 18px;
  color: #000;
  max-width: 1440px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1.35;
  font-style: normal;
}

.address__link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.address_justify_end {
  justify-self: end;
}

.address_justify_start {
  justify-self: start;
}

.header {
  display: grid;
  padding: 91px 50px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  list-style: circle;
  display: flex;
  column-gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  white-space: nowrap;
}

.header__link_active {
  border-bottom: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px;
  position: relative;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding-top: 115px;
  padding-bottom: 115px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  line-height: 1.15;
  position: relative;
  z-index: 1;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  align-items: center;
  column-gap: 78px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.27;
  word-spacing: 17px;
}

.bet-button {
  background-color: transparent;
  color: currentColor;
  border-color: currentColor;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
}

.lots {
  padding: 183px 50px;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 40px;
  font-size: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
}

.card {
  padding: 50px 40px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card__title {
  z-index: 1;
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-size: 22px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  justify-self: center;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-areas: "logo title" ". text";
  gap: 3px 25px;
  padding: 0 50px 90px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: title;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
}

.about__text {
  grid-area: text;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer {
  display: grid;
  padding: 91px 50px;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  align-items: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  justify-self: end;
  column-gap: 47px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
